* {
    box-sizing: border-box;
}

header {
    background-color: burlywood;
    text-align: center;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
}

form {
    align-items: flex-end;
}

#top-of-list {
    background-color: burlywood;
    color: blanchedalmond;
    margin-bottom: 0;
    margin-top: 5px;
    padding: 10px;
}

ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

ul li {
    margin: 5px;
    background-color: blanchedalmond;
    color: burlywood;
    text-align: center;
    line-height: 50px;
}

.del-btn {
    align-items: flex-end;
}